.footer {
    &--container {
        padding: 40px 0;
    }
}

// Git link / copyrigt / year
.copyright {
    gap: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: $black;
    
    &--link {
        color: $black;
        transition: 0.5s
    }

    &--link:hover {
        color: $t-sm;
        transition: 0.5s
    }
}

// School link
.school-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: $black;
    transition: 0.5s;

    &:hover {
        color: #fdd541;
        transition: 0.5s;
    }
}


// Social
.social {
    &--list {
        gap: 32px;
    }

    & svg {
        width: 32px;
        height: 32px;
        fill: $black;
        transition: 0.5s;

        &:hover {
            scale: 1.4;
            transition: 0.5s;
        }
    }
}

// Social icons
.insta:hover {
    fill: #ff5773;
}

.fb:hover {
    fill: #3764b9;
}

.tw:hover {
    fill: #03a9f4;
}

.pinterest:hover {
    fill: #cb1f24;
}