@include mobile {
    .footer {
        &--container {
            padding: 22px 0 7px;
            gap: 0;
        }
    }

    // Git link / copyrigt / year
    .copyright {
        gap: 22px;
        padding: 0 0 18px;
    }

    // School link

    .school {
        margin: 0 0 0 15px;
        padding: 0 0 5px;
        position: relative;
        left: -10px;

    }
}

.social {
    &--list {
        margin: 0;
    }
}