@include mobile {
    .about {

        &--title {
            width: 100%;
            margin: 0;
            padding: 27px 0 13px 0;
            font-size: 25px;
            line-height: 33px;
            text-align: center;
        }

        &--text {
            font-size: 15px;
            line-height: 25px;
        }

        &--houseplant {
            padding: 4px 0 30px;
        }
    }

}