@include tablet {
    .welcome {
        height: 402px;

        &--container {
            flex-direction: row-reverse;
            gap: 40px;
        }
    
        &--leaf {
            padding: 0;
    
            & img {
                width: 280px;
                height: 254px;
            }
        }
    
        &--title {
            padding: 36px 0 32px 0;
            font-size: 35px;
        }
    
        &--text {
            width: 341px;
            padding: 0 0 35px 5px;
            font-size: 16px;
            line-height: 25px;
        }    
    }
}


