@media (max-width: 1219px) {
    .project {
        grid-column-gap: 100px;

        &--item {
            width: 330px;
        }
    }
}

@include tablet {
    .service {
        &--head {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }

        &--title {
            padding: 56px 0 0;
            font-size: 35px;
            line-height: 46px;
        }

        &--button {
            padding: 42px 0 40px;
        }
    }

    .project {
        padding: 0 0 70px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 108px;

        &--item {
            width: auto;
        }

        &--title {
            padding: 10px 0 10px;
        }

        &--text {
            width: 201px;
            margin: 0 auto;
            padding: 0 0 20px 0;
        }
    }
}