.header {
    background-color: $bg-section;
}

.logo--name {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: $links-nav;

    &::before {
        content: url('./assets/svg/logo.svg');
        vertical-align: middle;
    }
}

.nav {
    padding: 43px 0;

    &--list {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: 46px;
        align-items: center;
    }

    &--link {
        position: relative;
        white-space: nowrap;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        color: $links-nav;
        transition: 0.4s;

        &::after {
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: transparent;
            font-weight: 700;
            transition: 0.5s;
            transform: scale(0.9);
            transform-origin: center center;
        }

        &:hover {
            color: transparent;

            &::after {
                color: $orange;
                transform: scale(1)
            }
        }
    }
}