@include mobile {
    .header {

        &--container {
            align-items: center;
        }

        &--nav {
            display: none;
        }

        &--logo {
            padding: 36px 0;
        }
    }

    // Burger menu
    // ===========
    // Styles for menu wrapper
    .header--burger {
        display: block;
        position: absolute;
        right: 25px;
        width: 40px;
        height: 32px;


        // Making a cross animation
        &.active span:nth-child(1) {
            transform: translateY(12px) rotate(45deg); // the menu items move along the Y axis and rotates by 45 degrees
            height: 4px;
        }
        &.active span:nth-child(2) {
            transform: translateY(-8px); // the menu items move along the axis Y and disappear
            opacity: 0; 
            
        }
        &.active span:nth-child(3) {
            transform: translateY(8px);// the menu items move along the axis Y and disappear
            opacity: 0;
        }
        &.active span:nth-child(4) {
            transform: translateY(-12px) rotate(-45deg); // the menu items move along the Y axis and rotates by 45 degrees
            height: 4px;
        }

        // Styles for menu 'lines
        & span {
            position: absolute;
            display: block;
            width: 100%; // Devided menu into two parts
            height: 2px;
            background-color: $t-sm;
            transition: 0.9s;

            & {
                margin-bottom: 6px;
            }

            // For correct display
            &:nth-child(1) {
                top: 0px;
                transform-origin: center;
            }
            &:nth-child(2) {
                top: 8px;
            }
            &:nth-child(3) {
                top: 16px;
            }
            &:nth-child(4) {
                top: 24px;
                transform-origin: center; 
            }
        }
    }
}