* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}
@include tablet {
    .container {
        max-width: 668px;
    }
}
@include mobile {
    .container {
        max-width: 330px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green {
    color: $green;
}

.orange {
    color: $orange;
}
