// colors
$bg-section: #EDF2EC;
$t-main: #636060;
$t-sm: #717171;
$green: #499A18;
$orange: #E06733;
$black: #000000;
$white: #FFFFFF;
$links-nav: #010201;
$service: #E3E1D5;
$bg-acc: #D6E7D2;
$border-acc: #AEA1A1;
$contacts: #C1E698;
$contacts-city: #DCE9D9;
$contacts-border: #D9D9D9;

// breakpoints
$tablet: 1208px;
$mobile: 668px;