@include mobile {
    .contacts {
        height: 442px;

        &--title {
            padding: 23px 0 80px;
            font-size: 25px;
            line-height: 33px;
            text-align: center;
        }

        &--image {
            display: block;
            position: static;
            width: 100px;
            margin: 0 auto;
            padding: 0;
            // bottom: 0;
        }

        // choice
        &--choice {
            width: 300px;
            ;
            top: 183px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .contacts--choice_wrapper {
            width: 260px;
        }
    }

    .select {
        padding: 0 0 132px;

        &--button {
            width: 300px;
            margin: 0 auto;
            padding: 5px 22px 5px 18px;
        }
    }

    // card
    .card {
        top: 220px;
        width: 300px;
        height: 210px;


        &--wrapper {
            margin: 0;
            width: 100%;
            padding: 15px 15px;
        }

        &--adress {
            padding-bottom: 20px;
        }

        &--link {
            margin-left: 70px;
        }

        &--info {
            line-height: 20px;
            width: 144px;
        }
    }

    .city {
        margin-right: 40px;
    }

    .phone {
        margin-right: 20px;
    }

    .adress {
        margin-right: 12px;
        width: 65px;
        line-height: 20px;
    }


}