@include tablet {
    .contacts {
        height: 738px;

        &--container {
            height: 738px;
        }

        &--title {
            padding: 39px 0 99px;
        }

        &--image {
            display: block;
            position: static;
            width: 200px;
            margin: 0 auto;
            padding: 0 0 0 11px;
            // bottom: 0;
        }

        &--choice {
            top: 240px;
            left: 50%;
            transform: translate(-50%, 0);
            background: $contacts-city;
            transition: all 1.5s;
        }
    }

    .card {
        right: 0;
        top: 270px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .select {
        padding: 0 0 250px;

        &--button {
            margin: 0 auto;
        }
    }
}